/* body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
} */
body {
  background: blue;
  margin: 0;
}

.container {
  min-height: 100vh;
  max-width: 730px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}

.modal-container{
  position: relative;
  width:100%;
}


.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}
